.w3-content {
    max-width: 400px;
}

span {
    cursor: pointer;
    /*margin: 1em;*/
}

#actionButton {
    margin-top: 1em;
    width: 200px;
    height: 300px;
}

#okButton {
    margin-top: 2em !important;
}

h2 {
    margin-top: 1em;
}

form {
    margin-top: 2em;
}